
<!DOCTYPE html>
<title>hontone</title>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div class='page-header'>
        <div class='hontone-page-title'>
            <h1><a href="/">honton-E</a></h1>
            <!-- Was playing around with fonts, feel free to change it. I figure we will have a custom drawn image for our official one -->
        </div>
        <div class='hontone-user-info'>
            <span>
                {% if request.user.is_authenticated %}
                    <img src="{% static 'HontoneUser' %}" width="75" height="75">
                    <p>{{ request.user.username }} <a title='Logout' href={% url 'logout' %}>[x]</a></p>
                {% else %}
                    <p class='login'><a href={% url 'login' %}>Login</a></p>
                    <p><a href={% url 'login' %}>Sign Up</a></p>
                {% endif %}
            </span>
        </div>
    </div>
    <main class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>